.products {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

  
  .product-item {
    text-align: center;
  }
  

  
  .product-item h2 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .product-item .price {
    font-weight: bold;
  }

  .react-multi-carousel-item {
  
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .carousel-item-padding {
  
  }